body {
  color: #434455;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.logo1 {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
}
.logo2 {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
}

.navifgation {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}
.navigation:hover {
  color: #404bbf;
}
.activ:active {
  color: #404bbf;
}
.contacts {
  color: #434455;
  font-size: 16px;
}
.contacts:hover {
  color: #404bbf;
}
.section1 {
  background-color: #2e2f42;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
}
.btn {
  background-color: #4d5ae5;
  cursor: pointer;
}
.btn:hover {
  background-color: #404bbf;
}
.list-team {
  background: #f4f4fd;
}
li {
  background-color: #fff;
}
.heading-features {
  font-weight: 500;
  font-size: 20px;
}
p {
  font-size: 16px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
}
